@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #292a2d;
  --foreground: #ffffff;
}

body {
  min-height: 100dvh;
  min-width: 100dvw;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
